    .profile-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .profile-wrapper>.container-fluid {
        width: 420px;
        /* same width as screenshot 1 */
        max-width: 95%;
        border-radius: 30px;
        background: #000;
        padding: 20px;
        border: 2px solid #444;
    }

