body {
  background-color: #111827;
  color: #e5e7eb;
}

.image-card {
  height: 200px;
  border-radius: 12px;
  border: 1px dashed #111827;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.image-card:hover {
  border-color: #facc15;
  background: #0a0a0a;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.dark-input,
.form-control,
.form-select {
  background-color: #0a0a0a;
  border: 1px solid #111827;
  color: #e5e7eb;
}

.form-control:focus,
.form-select:focus {
  background-color: #0a0a0a;
  border-color: #facc15;
  box-shadow: none;
  color: #e5e7eb;
}
