.liquid-ether-container {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;               
  justify-content: center;      
  align-items: center;      

  overflow: hidden;
}

.content-overlay {
  position: relative;
  z-index: 10;
  color: white;
  padding: 16px;
}


.liquid-ether-container canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}



.ether-bg {
  position: fixed;
  top: 0;
  left: 260px;
  width: calc(100vw - 260px);
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 768px) {
  .ether-bg {
    left: 0;
    width: 100vw;
  }
}

.ether-bg canvas {
  width: 100%;
  height: 100%;
}