    .swipe-card-container {
    position: relative;
    }

    .card {
    width: 260px;
    height: 380px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px;
    background: white;
    position: relative;
    }

    .photo-box {
    width: 100%;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .dp-small {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .name-box {
    margin-top: 35px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    }

    .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    }

    .actions button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    }
