.right-panel {
  width: 250px;
  border-left: 2px solid #ccc;
  padding: 20px;
}

.panel h3 {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  text-align: center;
}

.panel ul li {
  list-style: none;
  padding: 5px 0;
}
