.sidebar {
width: 250px;
background: #f2f2f2;
padding: 20px;
display: flex;
flex-direction: column;
border-right: 1px solid #ccc;
}


.sidebar-header {
text-align: center;
margin-bottom: 20px;
}


.dp-circle {
width: 70px;
height: 70px;
border-radius: 50%;
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
margin: 0 auto;
}


.username {
margin-top: 10px;
font-size: 20px;
}


.menu-item {
display: block;
padding: 12px;
margin: 8px 0;
text-align: center;
border: 1px solid black;
text-decoration: none;
color: black;
border-radius: 5px;
}


.menu-item:hover {
background: #ddd;
}